.main {
  grid-area: 3 / 1 / span 1 / span 2;
  backdrop-filter: blur(22px);
  border: 1px solid #80808060;
  background-color: #80808030;
  @apply relative flex items-center justify-center gap-5 overflow-x-hidden border-dashed;
}

@media (max-width: 800px) {
  .main {
    min-height: 250px;
  }
}
