.main-grid {
  grid-template-columns: 200px 200px 1fr 1fr 1fr 1fr;
  grid-template-rows: 180px 250px 160px;
  @apply grid gap-3 rounded-3xl;
}

@media (max-width: 1000px) {
  .main-grid {
    grid-template-columns: 150px 150px 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px;
  }
}

.main-grid .cell {
  @apply rounded-3xl;
}

@media (max-width: 800px) {
  .cell {
    grid-area: auto / 1 / span 2 / auto !important;
  }
}
